<doctype html>
<head>
	<title>Packt Publishing Library</title>
	<style type="text/css">
	<!--
	html, body {
		font-size: 16px;
		line-height: 1em;
		margin: 0;
		padding: 0;
	}
	body {
		background-color: #CCC;
	}
	#content {
	  margin-top: 5px;
  }
	.book {
		background-color: #FFF;
		border: 1px solid #EFEFEF;
		border-bottom: 3px solid #2D2D2D;
		width: 600px;
		height: 130px;
		margin: 0 auto;
	}
	.book:first-child {
		border-radius: 5px 5px 0 0;
	}
	.book:last-child {
	  border-radius: 0 0 5px 5px;
	  border-bottom: 1px solid #EFEFEF;
	  margin-bottom: 5px;
  }
	.book img {
		float: left;
		margin: 7px 0 0 10px;
	}
	.info {
		float: left;
		margin-left: 10px;
	}
	.title {
		font-weight: bold;
		width: 480px;
		word-wrap: break-word;
	}
	a {
		color: #BC6600;
	}
	-->
	</style>
</head>

<body>
	<article id="content">

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/3278OT_Active Directrory Disaster Recovery_frontcover.jpg" alt="Active Directory Disaster Recovery [eBook]" title="Active Directory Disaster Recovery [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Active Directory Disaster Recovery [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/active-directory-disaster-recovery" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/bookimages/7726_MockupCover.jpg" alt="AJAX and PHP: Building Modern Web Applications 2nd Edition [eBook]" title="AJAX and PHP: Building Modern Web Applications 2nd Edition [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">AJAX and PHP: Building Modern Web Applications 2nd Edition [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/ajax-and-php-building-modern-web-applications-2nd-edition" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/5603OT_cov.jpg" alt="Android Application Security Essentials [eBook]" title="Android Application Security Essentials [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Android Application Security Essentials [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/android-application-security-essentials" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/1505OT.jpg" alt="Android Native Development Kit Cookbook [eBook]" title="Android Native Development Kit Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Android Native Development Kit Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/android-native-development-kit-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/1529EXP_Android NDK_cov.jpg" alt="Android NDK Beginnerís Guide [eBook]" title="Android NDK Beginnerís Guide [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Android NDK Beginnerís Guide [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/android-ndk-beginner%E2%80%99s-guide" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/2951OS_Android SQLite Essentials_Mini.jpg" alt="Android SQLite Essentials [eBook]" title="Android SQLite Essentials [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Android SQLite Essentials [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/android-sqlite-essentials" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/APPDEV - FINAL.png" alt="App Development: Salary and Skills Report [eBook]" title="App Development: Salary and Skills Report [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">App Development: Salary and Skills Report [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/skillup/app-dev-salary-report" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/8246OS.jpg" alt="Aptana Studio Beginner&#039;s Guide [eBook]" title="Aptana Studio Beginner&#039;s Guide [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Aptana Studio Beginner's Guide [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/aptana-studio-beginners-guide" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/5248OS.jpg" alt="Backbone.js Testing [eBook]" title="Backbone.js Testing [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Backbone.js Testing [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/backbonejs-testing" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/5580OS_Backtrack 5 Wireless Penetration.jpg" alt="BackTrack 5 Wireless Penetration Testing Beginnerís Guide [eBook]" title="BackTrack 5 Wireless Penetration Testing Beginnerís Guide [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">BackTrack 5 Wireless Penetration Testing Beginnerís Guide [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/backtrack-5-wireless-penetration-testing-beginner%E2%80%99s-guide" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/DATA - FINAL.png" alt="Big Data and BI: Salary and Skills Report [eBook]" title="Big Data and BI: Salary and Skills Report [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Big Data and BI: Salary and Skills Report [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/skillup/data-salary-report" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/1127OS_Cover_0.jpg" alt="Blender Compositing and Post Processing [eBook]" title="Blender Compositing and Post Processing [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Blender Compositing and Post Processing [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/hardware-and-creative/blender-compositing-and-post-processing" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/7027OS_Blender Game Engine Beginnerís Guide_cov.jpg" alt="Blender Game Engine: Beginnerís Guide [eBook]" title="Blender Game Engine: Beginnerís Guide [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Blender Game Engine: Beginnerís Guide [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/game-development/blender-game-engine-beginner%E2%80%99s-guide" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/8703OS.jpg" alt="Cinder Creative Coding Cookbook [eBook]" title="Cinder Creative Coding Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Cinder Creative Coding Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/cinder-creative-coding-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/bookimages/1847190871.jpg" alt="Community Server Quickly [eBook]" title="Community Server Quickly [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Community Server Quickly [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/community-server-quickly" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/9182OS_Creating Development Environments with Vagrant_cover.jpg" alt="Creating Development Environments with Vagrant [eBook]" title="Creating Development Environments with Vagrant [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Creating Development Environments with Vagrant [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/creating-development-environments-vagrant" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/6566OS.jpg" alt="Dependency Injection with AngularJS [eBook]" title="Dependency Injection with AngularJS [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Dependency Injection with AngularJS [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/dependency-injection-angularjs" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/3264OT_0.jpg" alt="Designing Next Generation Web Projects with CSS3 [eBook]" title="Designing Next Generation Web Projects with CSS3 [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Designing Next Generation Web Projects with CSS3 [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/designing-next-generation-web-projects-css3" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/2862_OS.jpg" alt="Drupal 7 [eBook]" title="Drupal 7 [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Drupal 7 [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/drupal-7" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/6648OS_Drupal 7 Business Solutions_Front cover.jpg" alt="Drupal 7 Business Solutions [eBook]" title="Drupal 7 Business Solutions [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Drupal 7 Business Solutions [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/drupal-7-business-solutions" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/7966OS_Drupal 7 Cookbook.jpg" alt="Drupal 7 Cookbook [eBook]" title="Drupal 7 Cookbook [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Drupal 7 Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/drupal-7-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/6082OS_cover.jpg" alt="Drupal 7 Media [eBook]" title="Drupal 7 Media [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Drupal 7 Media [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/drupal-7-media" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/5627OS_Drupal 7 Mobile Web Development_cov.jpg" alt="Drupal 7 Mobile Web Development Beginnerís Guide [eBook]" title="Drupal 7 Mobile Web Development Beginnerís Guide [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Drupal 7 Mobile Web Development Beginnerís Guide [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/drupal-7-mobile-web-development-beginner%E2%80%99s-guide" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/2763_Drupal 7 Themes.jpg" alt="Drupal 7 Themes [eBook]" title="Drupal 7 Themes [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Drupal 7 Themes [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/drupal-7-themes" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/6488OS_Drupal 7 Webform Cookbook_0.jpg" alt="Drupal 7 Webform Cookbook [eBook]" title="Drupal 7 Webform Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Drupal 7 Webform Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/drupal-7-webform-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/5405OS_FreeSWITCH Cookbook_front cover.jpg" alt="FreeSWITCH Cookbook [eBook]" title="FreeSWITCH Cookbook [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">FreeSWITCH Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/freeswitch-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/1765EXP_FusionCharts Beginnerís Guide_cov.jpg" alt="FusionCharts Beginnerís Guide: The Official Guide for FusionCharts Suite [eBook]" title="FusionCharts Beginnerís Guide: The Official Guide for FusionCharts Suite [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">FusionCharts Beginnerís Guide: The Official Guide for FusionCharts Suite [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/fusioncharts-beginner%E2%80%99s-guide-official-guide-fusioncharts-suite" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/1285EN_Getting Started with Citrix XenApp 6cov_0.jpg" alt="Getting Started with Citrix XenApp 6 [eBook]" title="Getting Started with Citrix XenApp 6 [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Getting Started with Citrix XenApp 6 [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/virtualization-and-cloud/getting-started-citrix-xenapp-6" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/4988OT_NoSQL Standard Guide_Mini.jpg" alt="Getting Started with NoSQL [eBook]" title="Getting Started with NoSQL [eBook]" width="93" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Getting Started with NoSQL [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/getting-started-nosql" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/9502EN.jpg" alt="Getting Started with SQL Server 2012 Cube Development [eBook]" title="Getting Started with SQL Server 2012 Cube Development [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Getting Started with SQL Server 2012 Cube Development [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/getting-started-sql-server-2012-cube-development" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/5848OT_Unity 4 Outbreak_Mini.jpg" alt="Getting Started with Unity [eBook]" title="Getting Started with Unity [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Getting Started with Unity [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/game-development/getting-started-unity" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/6903_Groovy for Domain-Specific Languages_Front cover.jpg" alt="Groovy for Domain-Specific Languages [eBook]" title="Groovy for Domain-Specific Languages [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Groovy for Domain-Specific Languages [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/groovy-domain-specific-languages" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/0509_Hacking Vim 7.2cov.jpg" alt="Hacking Vim 7.2 [eBook]" title="Hacking Vim 7.2 [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Hacking Vim 7.2 [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/hacking-vim-72" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/7300OS.jpg" alt="Hadoop Beginner&#039;s Guide [eBook]" title="Hadoop Beginner&#039;s Guide [eBook]" width="93" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Hadoop Beginner's Guide [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/hadoop-beginners-guide" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/7287OS.jpg" alt="Hadoop MapReduce Cookbook [eBook]" title="Hadoop MapReduce Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Hadoop MapReduce Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/hadoop-mapreduce-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/9437OS_0.jpg" alt="Haskell Financial Data Modeling and Predictive Analytics [eBook]" title="Haskell Financial Data Modeling and Predictive Analytics [eBook]" width="93" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Haskell Financial Data Modeling and Predictive Analytics [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/haskell-financial-data-modeling-and-predictive-analytics" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/7140OS_HBase Cookbook.jpg" alt="HBase Administration Cookbook [eBook]" title="HBase Administration Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">HBase Administration Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/hbase-administration-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/9942_High Availability MySQL Cookbook.jpg" alt="High Availability MySQL Cookbook [eBook]" title="High Availability MySQL Cookbook [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">High Availability MySQL Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/high-availability-mysql-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/1369EXP_HTML5 Canvas Cookbook_cov.jpg" alt="HTML5 Canvas Cookbook [eBook]" title="HTML5 Canvas Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">HTML5 Canvas Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/html5-canvas-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/9282OT.jpg" alt="HTML5 Data and Services Cookbook [eBook]" title="HTML5 Data and Services Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">HTML5 Data and Services Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/html5-data-and-services-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/4568OT_0.jpg" alt="HTML5 Game Development with ImpactJS [eBook]" title="HTML5 Game Development with ImpactJS [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">HTML5 Game Development with ImpactJS [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/game-development/html5-game-development-impactjs" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/3707OT.jpg" alt="HTML5 Graphing and Data Visualization Cookbook [eBook]" title="HTML5 Graphing and Data Visualization Cookbook [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">HTML5 Graphing and Data Visualization Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/html5-graphing-and-data-visualization-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/5947OTcov.jpg" alt="HTML5 Web Application Development By Example : Beginner&#039;s guide [eBook]" title="HTML5 Web Application Development By Example : Beginner&#039;s guide [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">HTML5 Web Application Development By Example : Beginner's guide [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/html5-web-application-development-example" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/5764EN_cov.jpg" alt="IBM Cognos 10 Framework Manager [eBook]" title="IBM Cognos 10 Framework Manager [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">IBM Cognos 10 Framework Manager [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/ibm-cognos-10-framework-manager" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/3562EN_cov.jpg" alt="IBM Cognos Business Intelligence [eBook]" title="IBM Cognos Business Intelligence [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">IBM Cognos Business Intelligence [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/ibm-cognos-business-intelligence" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/7966EN.jpg" alt="Implementing VMware Horizon View 5.2 [eBook]" title="Implementing VMware Horizon View 5.2 [eBook]" width="93" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Implementing VMware Horizon View 5.2 [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/virtualization-and-cloud/implementing-vmware-horizon-view-52" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/3231OS_cov.jpg" alt="Instant Raspberry Pi Gaming [eBook]" title="Instant Raspberry Pi Gaming [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Instant Raspberry Pi Gaming [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/hardware-and-creative/instant-raspberry-pi-gaming-instant" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/8085OT_Cookbook_cover.jpg" alt="iOS and OS X Network Programming Cookbook [eBook]" title="iOS and OS X Network Programming Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">iOS and OS X Network Programming Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/ios-and-os-x-network-programming-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/bookimages/8082_MockupCover.jpg" alt="JasperReports 3.5 for Java Developers [eBook]" title="JasperReports 3.5 for Java Developers [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">JasperReports 3.5 for Java Developers [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/jasperreports-35-java-developers" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/0004OT_MockupCover_Beginers guide.jpg" alt="JavaScript Testing Beginner&#039;s Guide  [eBook]" title="JavaScript Testing Beginner&#039;s Guide  [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">JavaScript Testing Beginner's Guide  [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/javascript-testing-beginners-guide" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/7409OS_cover.jpg" alt="Jenkins Continuous Integration Cookbook [eBook]" title="Jenkins Continuous Integration Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Jenkins Continuous Integration Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/jenkins-continuous-integration-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/9106OS_ jQuery Hotshots.jpg" alt="jQuery Hotshot [eBook]" title="jQuery Hotshot [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">jQuery Hotshot [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/jquery-hotshot" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/1102EN_cov.jpg" alt="Learning AWS OpsWorks [eBook]" title="Learning AWS OpsWorks [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Learning AWS OpsWorks [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/virtualization-and-cloud/learning-aws-opsworks" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/9083OS_Learning Highcharts by Example.jpg" alt="Learning Highcharts [eBook]" title="Learning Highcharts [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Learning Highcharts [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/learning-highcharts" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/9932OS.jpg" alt="Learning IPython for Interactive Computing and Data Visualization [eBook]" title="Learning IPython for Interactive Computing and Data Visualization [eBook]" width="93" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Learning IPython for Interactive Computing and Data Visualization [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/learning-ipython-interactive-computing-and-data-visualization" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/3145OS_cov.jpg" alt="Learning jQuery - Fourth Edition [eBook]" title="Learning jQuery - Fourth Edition [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Learning jQuery - Fourth Edition [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/learning-jquery-fourth-edition" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/bookimages/1847192661.jpg" alt="Learning PHP Data Objects [eBook]" title="Learning PHP Data Objects [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Learning PHP Data Objects [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/learning-php-data-objects" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/0120OS.jpg" alt="Learning Play! Framework 2 [eBook]" title="Learning Play! Framework 2 [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Learning Play! Framework 2 [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/learning-play-framework-2" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/8901EN.jpg" alt="Learning Software Testing with Test Studio [eBook]" title="Learning Software Testing with Test Studio [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Learning Software Testing with Test Studio [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/learning-software-testing-test-studio" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/bookimages/8648_MockupCover.jpg" alt="Linux Email [eBook]" title="Linux Email [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Linux Email [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/linux-email" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/3760OS_Linux Shell Scripting Cookbook.jpg" alt="Linux Shell Scripting Cookbook [eBook]" title="Linux Shell Scripting Cookbook [eBook]" width="93" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Linux Shell Scripting Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/linux-shell-scripting-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/7782OS_Mastering phpMyAdmin 3.4 for Effective MySQL Management.jpg" alt="Mastering phpMyAdmin 3.4 for Effective MySQL Management [eBook]" title="Mastering phpMyAdmin 3.4 for Effective MySQL Management [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Mastering phpMyAdmin 3.4 for Effective MySQL Management [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/mastering-phpmyadmin-34-effective-mysql-management" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/9144OS.jpg" alt="Mastering Redmine [eBook]" title="Mastering Redmine [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Mastering Redmine [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/mastering-redmine" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/3165OT.jpg" alt="MATLAB Graphics and Data Visualization Cookbook [eBook]" title="MATLAB Graphics and Data Visualization Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">MATLAB Graphics and Data Visualization Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/matlab-graphics-and-data-visualization-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/7423OS_cov_0.jpg" alt="Metasploit Penetration Testing Cookbook [eBook]" title="Metasploit Penetration Testing Cookbook [eBook]" width="93" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Metasploit Penetration Testing Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/metasploit-penetration-testing-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/5887EN_Microsoft SQL Server 2012 Security cookbook_cov.jpg" alt="Microsoft SQL Server 2012 Security Cookbook [eBook]" title="Microsoft SQL Server 2012 Security Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Microsoft SQL Server 2012 Security Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/microsoft-sql-server-2012-security-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/6327EN.jpg" alt="Microsoft System Center Virtual Machine Manager 2012 Cookbook [eBook]" title="Microsoft System Center Virtual Machine Manager 2012 Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Microsoft System Center Virtual Machine Manager 2012 Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/virtualization-and-cloud/microsoft-system-center-virtual-machine-manager-2012-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/bookimages/7962_MockupCover.jpg" alt="MySQL Admin Cookbook [eBook]" title="MySQL Admin Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">MySQL Admin Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/mysql-admin-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/0868OS_MockupCover.jpg" alt="Nginx HTTP Server [eBook]" title="Nginx HTTP Server [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Nginx HTTP Server [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/nginx-http-server" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/8907OS_MockupCover_Beginers guide.jpg" alt="NHibernate 2 Beginner&#039;s Guide [eBook]" title="NHibernate 2 Beginner&#039;s Guide [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">NHibernate 2 Beginner's Guide [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/nhibernate-2-beginners-guide" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/7188OS_Node Cookbookcov.jpg" alt="Node Cookbook [eBook]" title="Node Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Node Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/node-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/8925OS_Numpy Cookbook.jpg" alt="NumPy Cookbook [eBook]" title="NumPy Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">NumPy Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/numpy-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/6323_MockupCover.jpg" alt="Object-Oriented Programming in ColdFusion [eBook] " title="Object-Oriented Programming in ColdFusion [eBook] " width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Object-Oriented Programming in ColdFusion [eBook] </p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/object-oriented-programming-coldfusion" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/2824_OpenSceneGraph 3.jpg" alt="OpenSceneGraph 3.0: Beginner&#039;s Guide [eBook]" title="OpenSceneGraph 3.0: Beginner&#039;s Guide [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">OpenSceneGraph 3.0: Beginner's Guide [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/game-development/openscenegraph-30-beginners-guide" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/6006EN.jpg" alt="Oracle Business Intelligence 11g R1 Cookbook [eBook]" title="Oracle Business Intelligence 11g R1 Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Oracle Business Intelligence 11g R1 Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/oracle-business-intelligence-11g-r1-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/bookimages/6125_MockupCover_0.jpg" alt="Oracle Coherence 3.5 [eBook]" title="Oracle Coherence 3.5 [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Oracle Coherence 3.5 [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/oracle-coherence-35" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/1742EN.jpg" alt="Oracle Data Integrator 11g Cookbook [eBook]" title="Oracle Data Integrator 11g Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Oracle Data Integrator 11g Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/oracle-data-integrator-11g-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/6846EN_cov.jpg" alt="Oracle WebLogic Server 12c Advanced Administration Cookbook [eBook]" title="Oracle WebLogic Server 12c Advanced Administration Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Oracle WebLogic Server 12c Advanced Administration Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/oracle-weblogic-server-12c-advanced-administration-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/5245OS_Pentaho Data Integration 4 Cookbook.jpg" alt="Pentaho Data Integration 4 Cookbook [eBook]" title="Pentaho Data Integration 4 Cookbook [eBook]" width="93" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Pentaho Data Integration 4 Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/pentaho-data-integration-4-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/bookimages/5067_MockupCover.jpg" alt="PHP Team Development [eBook]" title="PHP Team Development [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">PHP Team Development [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/php-team-development" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/8482OS_Piwik Web Analytics_0.jpg" alt="Piwik Web Analytics Essentials [eBook]" title="Piwik Web Analytics Essentials [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Piwik Web Analytics Essentials [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/piwik-web-analytics-essentials" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/4728OT.jpg" alt="Practical Maya Programming with Python [eBook]" title="Practical Maya Programming with Python [eBook]" width="95" height="112" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Practical Maya Programming with Python [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/hardware-and-creative/practical-maya-programming-python" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/9281OS_cov.jpg" alt="PrimeFaces Cookbook [ebook]" title="PrimeFaces Cookbook [ebook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">PrimeFaces Cookbook [ebook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/primefaces-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/1544OS_Mockup cover_0.jpg" alt="Python GeoSpatial Development [eBook]" title="Python GeoSpatial Development [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Python GeoSpatial Development [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/python-geospatial-development" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/4668_Python Testing Cookbook.jpg" alt="Python Testing Cookbook [eBook]" title="Python Testing Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Python Testing Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/python-testing-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/9441OS_cov.jpg" alt="R Statistical Application Development by Example Beginner&#039;s Guide [eBook]" title="R Statistical Application Development by Example Beginner&#039;s Guide [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">R Statistical Application Development by Example Beginner's Guide [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/r-statistical-application-development-example-beginners-guide" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/2226OS_Raspberry Pi Projects for your Kids_Mini_Cover.jpg" alt="Raspberry Pi Projects for Kids [eBook]" title="Raspberry Pi Projects for Kids [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Raspberry Pi Projects for Kids [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/hardware-and-creative/raspberry-pi-projects-kids" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/4322OT Raspberry Pi Robotic Projects.jpg" alt="Raspberry Pi Robotic Projects [eBook]" title="Raspberry Pi Robotic Projects [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Raspberry Pi Robotic Projects [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/hardware-and-creative/raspberry-pi-robotic-projects" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/5428OT.jpg" alt="Responsive Web Design by Example : Beginner&#039;s Guide [eBook]" title="Responsive Web Design by Example : Beginner&#039;s Guide [eBook]" width="92" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Responsive Web Design by Example : Beginner's Guide [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/responsive-web-design-example" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/bookimages/1847195520.jpg" alt="RESTful PHP Web Services [eBook]" title="RESTful PHP Web Services [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">RESTful PHP Web Services [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/restful-php-web-services" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/5220OTcov.jpg" alt="RubyMotion iOS Development Essentials [eBook]" title="RubyMotion iOS Development Essentials [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">RubyMotion iOS Development Essentials [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/rubymotion-ios-development-essentials" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/8726OT_0.jpg" alt="Software Defined Networking with OpenFlow [eBook]" title="Software Defined Networking with OpenFlow [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Software Defined Networking with OpenFlow [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/software-defined-networking-openflow" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/7867OS_Sonar Code Quality Testing.jpg" alt="Sonar Code Quality Testing Essentials [eBook]" title="Sonar Code Quality Testing Essentials [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Sonar Code Quality Testing Essentials [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/sonar-code-quality-testing-essentials" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/9045OS_Spring Data Standard Guide_Mini.jpg" alt="Spring Data [eBook]" title="Spring Data [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Spring Data [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/spring-data" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/5825OS_Spring Web Services 2 Cookbook_frontcover.jpg" alt="Spring Web Services 2 Cookbook [eBook]" title="Spring Web Services 2 Cookbook [eBook]" width="90" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Spring Web Services 2 Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/spring-web-services-2-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/0363EN_MockupCover_0.jpg" alt="The Business Analyst&#039;s Guide to Oracle Hyperion Interactive Reporting 11.1 [eBook]" title="The Business Analyst&#039;s Guide to Oracle Hyperion Interactive Reporting 11.1 [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">The Business Analyst's Guide to Oracle Hyperion Interactive Reporting 11.1 [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/big-data-and-business-intelligence/business-analysts-guide-oracle-hyperion-interactive-reporting-11" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/0423OT.jpg" alt="Unity 4.x Cookbook [eBook]" title="Unity 4.x Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Unity 4.x Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/game-development/unity-4x-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/3400OT.jpg" alt="Unity 4.x Game AI Programming [eBook]" title="Unity 4.x Game AI Programming [eBook]" width="93" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Unity 4.x Game AI Programming [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/game-development/unity-4x-game-ai-programming" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/5268OT_Unity 4.jpg" alt="Unity 4.x Game Development by Example: Beginner&#039;s Guide [eBook]" title="Unity 4.x Game Development by Example: Beginner&#039;s Guide [eBook]" width="93" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Unity 4.x Game Development by Example: Beginner's Guide [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/game-development/unity-4x-game-development-example-beginners-guide" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/1966EN _Cover.jpg" alt="Visual Studio 2013 Cookbook [eBook]" title="Visual Studio 2013 Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Visual Studio 2013 Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/visual-studio-2013-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/1124EN.jpg" alt="VMware View 5 Desktop Virtualization Solutions [eBook]" title="VMware View 5 Desktop Virtualization Solutions [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">VMware View 5 Desktop Virtualization Solutions [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/virtualization-and-cloud/vmware-view-5-desktop-virtualization-solutions" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/thumbview/9182EN_Mini.jpg" alt="VMware Workstation - No Experience Necessary [eBook]" title="VMware Workstation - No Experience Necessary [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">VMware Workstation - No Experience Necessary [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/virtualization-and-cloud/vmware-workstation-no-experience-necessary" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/8727OS Agile Web Application Development with Yii.jpg" alt="Web Application Development with Yii and PHP [eBook]" title="Web Application Development with Yii and PHP [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Web Application Development with Yii and PHP [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/web-application-development-yii-and-php" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d1ldz4te4covpm.cloudfront.net/sites/default/files/imagecache/thumbview/4422EN Windows Server 2012 Hyper-V Cookbook.jpg" alt="Windows Server 2012 Hyper-V Cookbook [eBook]" title="Windows Server 2012 Hyper-V Cookbook [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Windows Server 2012 Hyper-V Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/virtualization-and-cloud/windows-server-2012-hyper-v-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/8345EN.jpg" alt="Windows Server 2012 Hyper-V: Deploying Hyper-V Enterprise Server Virtualization Platform [eBook]" title="Windows Server 2012 Hyper-V: Deploying Hyper-V Enterprise Server Virtualization Platform [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Windows Server 2012 Hyper-V: Deploying Hyper-V Enterprise Server Virtualization Platform [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/virtualization-and-cloud/windows-server-2012-hyper-v-deploying-hyper-v-enterprise-server-virtualizat" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/8284EN_0.jpg" alt="Windows Server 2012 Unified Remote Access Planning and Deployment [eBook]" title="Windows Server 2012 Unified Remote Access Planning and Deployment [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Windows Server 2012 Unified Remote Access Planning and Deployment [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/windows-server-2012-unified-remote-access-planning-and-deployment" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/0427os_mockupcover_normal.jpg" alt="WiX 3.6: A Developer&#039;s Guide to Windows Installer XML [eBook]" title="WiX 3.6: A Developer&#039;s Guide to Windows Installer XML [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">WiX 3.6: A Developer's Guide to Windows Installer XML [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/wix-36-developers-guide-windows-installer-xml" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/3722OS_MockupCover.jpg" alt="WiX: A Developer&#039;s Guide to Windows Installer XML [eBook]" title="WiX: A Developer&#039;s Guide to Windows Installer XML [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">WiX: A Developer's Guide to Windows Installer XML [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/wix-developers-guide-windows-installer-xml" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/1742OS_MockupCover_0.jpg" alt="WordPress 3.0 jQuery [eBook]" title="WordPress 3.0 jQuery [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">WordPress 3.0 jQuery [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/wordpress-30-jquery" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/7683OS_WordPress Plugin Development Cookbook_frontcover.jpg" alt="WordPress Plugin Development Cookbook [eBook]" title="WordPress Plugin Development Cookbook [eBook]" width="91" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">WordPress Plugin Development Cookbook [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/web-development/wordpress-plugin-development-cookbook" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/8467OT_Xamarin.jpg" alt="Xamarin Cross-platform Application Development [eBook]" title="Xamarin Cross-platform Application Development [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Xamarin Cross-platform Application Development [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/application-development/xamarin-cross-platform-application-development" target="_blank">External Link</a></p>
			</div>
		</section>

		<section class="book">
			<img src="http://d255esdrn735hr.cloudfront.net/sites/default/files/imagecache/thumbview/bookimages/7689_MockupCover_Raw.jpg" alt="Zabbix 1.8 Network Monitoring [eBook]" title="Zabbix 1.8 Network Monitoring [eBook]" width="94" height="116" class=" imagecache imagecache-thumbview"/>

			<div class="info">
				<p class="title">Zabbix 1.8 Network Monitoring [eBook]</p>
				<p>View book details &raquo; <a href="https://www.packtpub.com/networking-and-servers/zabbix-18-network-monitoring" target="_blank">External Link</a></p>
			</div>
		</section>
